GuerraIraqApp/Connected Services/VetWS/VetWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://emilio.dev/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://emilio.dev/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://emilio.dev/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarVeterano">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="veterano" type="tns:VeteranoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VeteranoWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaIngreso" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Rango" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemotoLocal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarVeteranoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarVeteranoResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SumarSoapIn">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="SumarSoapOut">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarVeteranoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarVeterano" />
  </wsdl:message>
  <wsdl:message name="RegistrarVeteranoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarVeteranoResponse" />
  </wsdl:message>
  <wsdl:portType name="VetWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <wsdl:input message="tns:SumarSoapIn" />
      <wsdl:output message="tns:SumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarVeterano">
      <wsdl:input message="tns:RegistrarVeteranoSoapIn" />
      <wsdl:output message="tns:RegistrarVeteranoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VetWebServiceSoap" type="tns:VetWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://emilio.dev/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://emilio.dev/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVeterano">
      <soap:operation soapAction="http://emilio.dev/RegistrarVeterano" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VetWebServiceSoap12" type="tns:VetWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://emilio.dev/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <soap12:operation soapAction="http://emilio.dev/Sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVeterano">
      <soap12:operation soapAction="http://emilio.dev/RegistrarVeterano" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VetWebService">
    <wsdl:port name="VetWebServiceSoap" binding="tns:VetWebServiceSoap">
      <soap:address location="https://localhost:44318/VetWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="VetWebServiceSoap12" binding="tns:VetWebServiceSoap12">
      <soap12:address location="https://localhost:44318/VetWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>